@{
    ViewData["Title"] = "Background";
} 
<h1 style="text-decoration-color:#526534"> 
    @ViewData["Title"]</h1>

<p>
    The local farmer produces microgreens (Young seedlings of edible vegetables and
    herbs are known as microgreens) in their farm, but they could not manage to sell them
    all and left over gets damaged or eaten by the animals. Basically, they are not able to
    make any type of profit from their farm.

    To resolve this issue the group of local farmers have decided to start a brick-andmortar
    store where they can sell all the products together under a one roof. They call
    themselves a Microgreen’s. Microgreens has approached software developer to develop their
    stock management website where they can manage their incoming and outgoing stock.
</p>

<h1 style="text-decoration-color:#526534">How to Use</h1>
<p>
    When the user runs the website the user will only be able to view the home page and about us page of the webite. The user has
    to login to the webite in order to use the functionality. The user must click on the login tab which will be found at the top
    navbar on the right side of the screen. The user will now able to login to the webiste. If the user which is logged in to the
    website, is assigned a Admin role then the user will be able to view all the functionalty of the app. If the user is logged in
    as a Employee then they will be able to only see the farmer tab and a Product tab. When the user(Employee) cliks on the farmer
    tab they will be able to add or remove the farmer and if they click on the products tab they only be able to view the list of
    products supplied by the farmer and can filter the list using the search bar given at the top of this page. The Employee will
    also be able to view the category tabs where they can add the types of the product. If the user is logged in as a Farmer they
    will only view the Produts tab where they can add or remove product.
</p>
